body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.about,
.experience,
.education,
.contact {
    padding: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1.5rem;
}

.contact {
    background-color: #f1f1f1;
}

.profile-image,
.company-logo,
.university-logo {
    max-width: 205px; /* Defina o tamanho máximo da imagem */
    height: auto; /* Mantenha a proporção da imagem */
    margin: 10px 0; /* Adicione margem para espaçamento */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    /* Adjust header font-size for smaller screens */
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.2rem;
    }

    /* Make the images responsive by reducing their max-width */
    .profile-image,
    .company-logo,
    .university-logo {
        max-width: 80px;
    }
    
    .content {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 480px) {
    /* Adjust header font-size for even smaller screens */
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }

    /* Make the images even smaller for tiny screens */
    .profile-image,
    .company-logo,
    .university-logo {
        max-width: 60px;
    }

    /* Reduce padding in sections for more compact layout */
    .about,
    .experience,
    .education,
    .contact {
        padding: 1rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}
